footer{
    padding: 0 4rem;
}

footer h3{
    text-align: center;
    color: var(--color-text-primary);
}


footer li{
    list-style: none;
}

footer a{
    font-size: 1.5rem;
}


footer > ul{
    display: flex;
    gap: 4rem;
    margin: 3rem auto;
    justify-content: center;

}

footer div{
    display: flex;
    gap: 2rem;
    margin-inline: auto;
    justify-content: center;
}

footer p{
    text-align: center;
}

footer > p:last-child{
    font-size: 1.2rem;
    padding: 5rem 0 3rem;
}

@media screen and (max-width: 600px){
    footer{
        padding: 2rem 2rem;
    }
}