.download{
    background: url('../../assets/images/light background.png') no-repeat center;
    background-size: cover;
    padding: 4rem 4rem;
    display: flex;
}

.download h2{
    color: var(--color-white);
    width: 25ch;
    margin: 2rem 0;
}

.download-options{
    flex: 0 0 55%;
    padding: 2rem 10rem;
}

.app-stores, .app-display{
    display: flex;
}

.app-stores{
    gap: 2rem;
    margin-top: 3rem;
}

.appstores img{
    width: 80%;
}

.app-display img{
    width: 50%;
    position: relative;
    top: 4rem;
}

@media screen and (max-width: 600px){
    .download{
        flex-direction: column;
    }

    .download h2{
        color: var(--color-white);
        width: 100%;
    }
}