:root{
  /*color*/
  --color-white: #FFFFFF;
  --color-primary: #C77D2D;
  --color-secondary: #1F4493;
  --color-text-primary: #051536;
  --color-text-secondary: #616A7E;
  --color-light: rgba(0, 0, 0, 0.09);
  --color-medium: #A2A7B1;
  --color-light-pink: #FFF1E2;
  --color-light-blue: #E5EEFF;
  --color-light-peach: #FFFCD8;
  --color-light-purple: #F9E2FF;

  /*font sizes*/
  --large-font: 5rem;
  --semi-large-font: 3rem;
  --regular-font: 2rem;
  --small-font: 1.5rem;
  --bold: 800;

}

@font-face {
  font-family: 'Gilroy Extrabold';
  src: local('Gilroy Extrabold'),
  url("./assets/fonts/gilroy-extrabold.otf")
  
}

@font-face {
  font-family: 'Gilroy Light';
  src: local('Gilroy Light'),
  url("./assets/fonts/gilroy-light.otf") 
  
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  box-sizing: inherit;
  font-size: 62.5%;
}

@media screen and (max-width: 1200px){
  html{
    font-size: 56.5%;
  }
}


body {
  font-family: 'Gilroy Light', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p{
  display: block;
}

h1,
h2,
h3,
h4{
  font-family: "Gilroy Extrabold", sans-serif;
  /* font-weight: var(--bold); */
  color: var(--color-text-primary);
}

h1{
  font-size: var(--large-font);
  text-align: center;
}

h2{
  font-size: var(--semi-large-font);
}

h3{
  font-size: var(--regular-font);
}

h4{
  font-size: var(--small-font);
  font-weight: var(--bold);
}

p{
  font-size: var(--small-font);
  color: var(--color-text-secondary);
}

.text-wrapper{
  overflow: hidden;
  margin-bottom: -2rem;
}
